.app-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.app-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90%;
}

.app-header {
    width: 120%;
    display: flex;
    justify-content: center;
    align-items: baseline;
}